<h2>Connection</h2>

{{> messages }}

<form action="/auth/login" method="POST">
  <div class="form-group">
    <label for="username">Nom d'utilisateur:</label>
    <input type="text" class="form-control" name="username" id="username">
  </div>
  <div class="form-group">
    <label for="password">Mot de passe:</label>
    <input type="password" class="form-control" name="password" id="password">
  </div>
  <button class="btn btn-primary">Se connecter</button>
</form>

<p>Or <a href="/auth/register">Créer</a> un compte.</p>